.nav {
    height: 40px;
    padding: 10px 0px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
}

.navContainer {
    display: flex;
    height: 100%;
}

.logoWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(4, 196, 4);
    cursor: pointer;
}

.logo {
    font-size: 22px;
    font-weight: 600;
}

.logoSmall {
    font-size: 20px;
    font-weight: 500;
    margin-top: -5px;
}

.menuWrapper {
    flex: 2;
    padding: 10px 0px;
    margin-left: 150px;
}

.menuList {
    display: flex;
    align-items: center;
    list-style: none;
}

.menuListItem {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.menuListItem>a {
    text-decoration: none;
    color: inherit;
}